{% load staticfiles %}
<html>
	<head>
		  <title>Search engine :3</title>
	</head>
	<body>
		  <!--<div class="page-header">
		  	   <a href="{% url 'post_new' %}"<span class="glyphicon glyphicon-plus"></span></a>
		  	   <h1><a href="">Mockturtle's blog</a></h1>
		  </div>

		  <div class="content container">
    	  	   <div class="row">
        	   		<div class="col-md-8">
            			 {% block content %}
            			 {% endblock %}
        			</div>
    			</div>
			</div>-->
	</body>
</html>